<section class="app-section" id="about">
  <header><h1 class="heading">About</h1></header>
  <article>
    <header><h2>Work</h2></header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      corrupti, maxime doloremque similique, exercitationem tempora molestiae
      nesciunt incidunt repellat fuga corporis quis voluptates, distinctio omnis
      quam perferendis voluptatum aliquam ipsam. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Repellat optio est ea? Eligendi ex natus
      autem distinctio delectus quaerat, iusto quos? Non similique rem vitae
      laborum. Consectetur quia aspernatur eveniet?
    </p>
  </article>
  <article>
    <header><h2>Home</h2></header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      corrupti, maxime doloremque similique, exercitationem tempora molestiae
      nesciunt incidunt repellat fuga corporis quis voluptates, distinctio omnis
      quam perferendis voluptatum aliquam ipsam. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Repellat optio est ea? Eligendi ex natus
      autem distinctio delectus quaerat, iusto quos? Non similique rem vitae
      laborum. Consectetur quia aspernatur eveniet?
    </p>
  </article>

  <article>
    <header><h2>Hobbies</h2></header>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique soluta
      explicabo quasi perferendis, laborum labore amet molestias officiis quidem
      molestiae, repellat voluptate fuga necessitatibus minima animi ratione
      inventore aperiam. Ad.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
      laudantium sint. Reiciendis praesentium soluta iusto aspernatur, aperiam
      commodi incidunt eum consectetur tempora odio, porro eius fuga est itaque
      dolores unde?
    </p>
  </article>
</section>
