<section id="projects" class="app-section">
  <header>
    <h1 class="heading">Projects</h1>
    <p>
      See my projects below. All back-end and front-end components were either
      contributed to or completely done by me.
    </p>
  </header>

  <section id="pro-work">
    <article class="item-contain">
      <div class="l-col">
        <h2>Delta Machinery Parts</h2>

        <p>
          <a href="https://www.deltamachineryparts.com"
            >Delta Machinery Parts</a
          >
          is a web platform that allows consumers to create an account, search,
          review specifications/documentation, and purchase a part or parts for
          their machine. The Node API interfaces with an ERP system database
          containing all order and machine to part relationships, keeping
          information readily available and consistent for the ERP system users.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>Vue</li>
            <li>Webpack</li>
            <li>babel</li>
            <li>Authentication</li>
            <li>e-commerce</li>
            <li>Google analytics & maps</li>
            <li>Node</li>
            <li>Authorization</li>
            <li>Cloud Hosting</li>
            <li>CI/CD</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
          <a href="#">More Details</a>
        </div> -->
      </div>
    </article>

    <article class="item-contain">
      <div class="l-col">
        <h2>Delta Machinery</h2>

        <p>
          <a href="https://www.deltamachinery.com">Delta Machinery</a>
          is a marketing website that allows Delta Power Equipment Corporation
          to advertise new and current products as well as promotional deals.
          Consumers can search for products to view specifications and related
          documentation. It also serves as a platform for consumers to receive
          general and technical support.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>Nuxt</li>
            <li>Webpack</li>
            <li>babel</li>
            <li>Contentful</li>
            <li>Google analytics</li>
            <li>Cloud Hosting</li>
            <li>CI/CD</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>

    <article class="item-contain">
      <div class="l-col">
        <h2>DegreeScale</h2>

        <p>
          <a href="https://github.com/EvanMiller12/Degree-Scale">DegreeScale</a>
          is a web app built designed to help new and current students choose
          the right college major and degree, the first time. It provides salary
          statistics from the College Scorecard database to compare salaries
          between an Associates and Bachelors degree of the same major.
          DegreeScale also allows creation of user profiles and reviews. A proxy
          server is was setup to get around a CORS issue with the College
          Scorecard API.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>React</li>
            <li>React-Bootstrap</li>
            <li>Backbone</li>
            <li>jQuery</li>
            <li>Node</li>
            <li>CORS</li>
            <li>Parse Server</li>
            <li>Heroku</li>
            <li>CI/CD</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>

    <article class="item-contain">
      <div class="l-col">
        <h2>Sheldon Miller Hair</h2>

        <p>
          <a href="https://www.sheldonmillerhair.com">Sheldon Miller Hair</a>
          is a web app serving as a marketing and informative hub for potential
          clients. Allowing users to get to know the professional hair stylist,
          view provided services with pricing, view and filter a portfolio of
          completed work by service type, book an appointment, and provides a
          contact form to request further information.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>React</li>
            <li>Next</li>
            <li>Flexbox</li>
            <li>Netlify</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>

    <article class="item-contain">
      <div class="l-col">
        <h2>Tinsley Custom Coatings</h2>

        <p>
          <a href="">Tinsley Custom Coatings</a>
          is a website serving as a marketing and informative hub for potential
          clients. Allowing users to get to know the professional hair stylist,
          view provided services with pricing, view and filter a portfolio of
          completed work by service type, book an appointment, and provides a
          contact form to request further information.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>HTML</li>
            <li>Bootstrap 3</li>
            <li>Javascript</li>
            <li>Craft CMS</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>

    <article class="item-contain">
      <div class="l-col">
        <h2>Music Tab Tracker</h2>

        <p>
          <a href="">Music Tab Tracker</a>
          is a full stack web app built as a personal project not intended to be
          hosted live for the purpose of learning and practicing different
          functionality in Vue, Vuex, and Node.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>Vue</li>
            <li>Vuex</li>
            <li>Node</li>
            <li>Sequelize</li>
            <li>SQLite</li>
            <li>Passport</li>
            <li>JWT</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>
    <article class="item-contain">
      <div class="l-col">
        <h2>The Simpsons TBG</h2>

        <p>
          <a href="">The Simpsons TBG</a>
          is a turn based game built for a project built for school to learn
          constructors and prototype's. Users can pick their character from a
          dropdown list and choose different strategies of attack. The attacks
          apply different levels of damage to their opponent, but the more
          potential damage an attack has corresponds to a less chance of
          actually hitting/damaging the opponent.
        </p>
        <div class="tech">
          <h3>Technologies</h3>
          <ul class="tech-items">
            <li>Browserify</li>
            <li>ESLint</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>Handlebars</li>
            <li>Handlebarsify</li>
            <li>Underscore</li>
            <li>Bootstrap-SASS</li>
            <li>NPM</li>
            <li>Watchify</li>
            <li>parallelshell</li>
          </ul>
        </div>
      </div>
      <div class="r-col">
        <img src="https://via.placeholder.com/450x300" alt="" />
        <!-- <div class="details-btn">
              <a href="#">More Details</a>
            </div> -->
      </div>
    </article>
  </section>
</section>
