<section id="projects" class="app-section">
  <header><h1 class="heading">Projects</h1></header>

  <div class="content-wrapper">
    <article class="project-cat">
      <header>
        <h2><i class="far fa-image"></i>Front End</h2>
      </header>
      <div class="item-contain">
        <h3>Delta Machinery Marketing</h3>
        <p>Marketing website built in Vue/Nuxt</p>
        <a href="https://www.deltamachinery.com">www.deltamachinery.com</a>
      </div>
      <div class="item-contain">
        <h3>Delta Machinery Parts</h3>
        <p>e-commerce web app built in Vue</p>
        <a href="https://www.deltamachineryparts.com"
          >www.deltamachineryparts.com</a
        >
      </div>
      <div class="item-contain">
        <h3>Degree Scale</h3>
        <p>Web app built in React</p>
        <a href="https://github.com/EvanMiller12/Degree-Scale"
          >Github repository</a
        >
      </div>
    </article>
    <article>
      <header>
        <h2><i class="fas fa-database"></i>Backend</h2>
      </header>
      <div class="item-contain">
        <h3>Delta Machinery Parts</h3>
        <p>Node API built to interface with a 2008 MSSQL server</p>
        <a href="https://www.deltamachineryparts.com"
          >www.deltamachineryparts.com</a
        >
      </div>
    </article>
  </div>

  <!-- <article>
    <header><h2>Other</h2></header>
  </article> -->
</section>
