<section id="contact" class="app-section">
  <header><h1 class="heading">contact</h1></header>

  <form id="contact-form" action="">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="First &amp; Last Name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input
        type="number"
        class="form-control"
        id="phone"
        placeholder="Phone Number"
      />
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input
        type="text"
        class="form-control"
        id="company"
        placeholder="Company"
      />
    </div>

    <label for="message">Message</label>
    <textarea class="form-control" name="" id="" rows="6"></textarea>

    <button type="submit" class="btn btn-default contact">Submit</button>
  </form>
</section>
