<div class="nav-wrapper">
  <nav>
    <ul id="side-nav">
      <li class="side-nav-item">
        <a class="side-nav-link" href="/">
          <i class="fas fa-home"></i> <span>HOME</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="about"> <i class="fas fa-user"></i> <span>ABOUT</span> </a>
      </li>
      <li class="side-nav-item">
        <a href="skills"> <i class="fas fa-code"></i> <span>SKILLS</span> </a>
      </li>
      <li class="side-nav-item">
        <a href="projects">
          <i class="fas fa-image"></i> <span>PROJECTS</span>
        </a>
      </li>
      <li class="side-nav-item">
        <a href="contact">
          <i class="far fa-envelope"></i> <span>CONTACT</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
