<section id="skills" class="app-section">
  <header>
    <h1 class="heading">skills</h1>
    <p>
      I am a <b>full-stack web developer</b> with
      <b>three years of experience.</b>
    </p>
    <p>
      I have developed and launched multiple projects from scratch, carrying the
      development of its back-end and front-end code-bases.
    </p>
    <p>
      My current tool sets include React/Next, Vue/Nuxt, Angular, Typescript,
      Node, Docker, Digital Ocean, Netlify, and various other frameworks,
      libraries and technologies related to them.
    </p>
    <p>
      I can help with your projects from the UI mockups, back-end and front-end
      web development, to fixing the design, installing &amp; configuring the
      application on staging/production environments; including, cloud
      environments.
    </p>
  </header>

  <hr />

  <article>
    <header>
      <h2><i class="far fa-image"></i>Front End Web Development</h2>
      <p>
        I specialize in applications written in React and Vue. I have recently
        started to enjoy the declarative nature of typescript, which helps to
        keep code clean and readable.
      </p>
    </header>
    <div class="item-contain">
      <p>My current experience and skills in front-end include:</p>
      <ul>
        <li>
          bootstraping or refactoring an existing app architecture, by improving
          its' maintainability, reliability, and extensibility.
        </li>
        <li>
          full integration of front-end development using various tools for
          automatic code reload, code minification, multiple environment
          support, ES6 compilation, pre error checking, code format, version
          control, and continuous integration/deployment.
        </li>
        <li>
          good sense of design and UX, through receiving front-end/graphic
          designers advice while drawing out wire-frames and creating mockups.
        </li>
        <li>
          Broad knowledge and experience with various JS ecosystems by using
          many different libraries and frameworks including: React, Redux, Next,
          Vue, Nuxt, Angular, Backbone, Handlebars, jQuery, Lodash/Underscore,
          and other related tools.
        </li>
      </ul>
      <div class="skills-overview">
        <div class="languages">
          <h3>Languages</h3>
          <p>CSS3, HTML5, Javascript/ES5/ES6</p>
        </div>
        <div class="frameworks">
          <h3>Frameworks/Libraries</h3>
          <p>Angular, Backbone, Handlebars, React/Next, Vue/Nuxt</p>
        </div>
        <div class="tech-and-tools">
          <h3>Web Technologies/Tools</h3>
          <p>
            Babel, Contentful, ESLint, Git/Github, Mocha/Chai, Prettier,
            Typescript, vsCode, Webpack
          </p>
        </div>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h2><i class="fas fa-database"> </i>Backend</h2>
      <p>
        I specialize in backend applications written in Node and have recently
        started to learn C# to increase my knowledge; while, getting a better
        understanding of best practices by comparing differences in the language
        functionality and style.
      </p>
    </header>
    <div class="item-contain">
      <p>My current experience and skills in back-end include:</p>
      <ul>
        <li>
          lead JavaScript development and deployment of REST API's, which
          integrate with various database's and serve different purposes
          including: serving as a proxy, performing
          authentication/authorization, file transfers, returning specific data
          to the front-end in a clean format, and/or user specific CRUD
          functionality.
        </li>
        <li>
          full integration of backend-end development with features like
          automatic code reload, multiple environments support, pre error
          checking, code formatting, automated process management, and various
          other features.
        </li>
        <li>
          good sense of network protocols TCP/IP, HTTP, FTP, SSH, SMTP, DNS,
          SSL/TLS (HTTPS), and their related ports. I have experience
          configuring linux with SSH login, basic firewall security, SSL
          certificate with a chron job for auto-renew, Nginx as a reverse proxy
          for providing access to the domain, making sure all traffic is
          redirected to be served over SSL, and a secure Diffie-Hellman group
          for an extra layer of SSL security.
        </li>
        <li>
          experience with SQL server from creating tables, views, or stored
          procedures to optimize storage and or performance for queries being
          written for different requests from a Node API. I also have experience
          writing SSRS reports for Sage 100 contractor software, which expanded
          my SQL skills tremendously.
        </li>
      </ul>
      <div class="skills-overview">
        <div class="languages">
          <h3>Languages:</h3>
          <p>Javascript/Node, C#, php, SQL</p>
        </div>
        <div class="frameworks">
          <h3>Frameworks:</h3>
          <p>Express</p>
          <p>.Net</p>
        </div>
        <div class="tech-and-tools">
          <h3>Web Technologies/Tools:</h3>
          <p>
            Babel, CORS, Digital Ocean, Docker, ESLint, JWT, Nginx, Passport,
            PM2, Sequelize, SQL Server, SSRS, Stripe
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
