<section id="skills" class="app-section">
  <header>
    <h1 class="heading">skills</h1>
    <p>
      I am a <b>full-stack web developer</b> with
      <b>three years of experience.</b>
    </p>
    <p>
      I have developed and launched multiple projects from scratch, carrying the
      development of its back-end and front-end code-bases.
    </p>
    <p>
      My current tool sets include React/Next, Vue/Nuxt, Angular, Typescript,
      Node, Docker, Digital Ocean, Netlify, and various other frameworks,
      libraries and technologies related to them.
    </p>
    <p>
      Feel free to ask me any questions. I can help you your project from the UI
      mockups, back-end and front-end web development to fixing the design and
      installing & configuration of the application on staging/production
      environments; including, cloud environments.
    </p>
  </header>

  <hr />

  <article>
    <header>
      <h2><i class="far fa-image"></i>Front End Web Development</h2>
      <p>
        I specialize in applications written in React and Vue. Recently I became
        a huge fan of one-way data flow and Redux-like architecture and also
        typed languages, e.g. TypeScript.
      </p>
    </header>
    <div class="item-contain">
      <p>My current experience and skills in front-end include:</p>
      <ul>
        <li>
          lead TypeScript/JavaScript development: bootstraping or refactoring an
          existing app architecture, by improving its' extensibility and
          reliability;
        </li>
        <li>
          full integration of front-end development using tools like
          <a href="https://webpack.js.org/" rel="nofollow">Webpack</a> with
          features like automatic code reload, code minifications, multiple
          environments support,
        </li>
        <li>
          good sense of design and UX, by having some small past experience in
          graphic design
        </li>
        <li>
          knowledge and huge experience in many JS ecosystem, by using many
          libraries like React, Redux, Redux-Observable, RxJS, Angular, Ionic
          Framework, Backbone, jQuery, Lodash/Underscore and whatever else was
          needed.
        </li>
        <!-- <li>
              ... and even <strong>mobile app  development</strong> with the use of <a href="http://ionicframework.com/" rel="nofollow">Ionic Framework</a>.
              <br>
               With these, I can build a fully working native application for iOS and Android (both at once!) in Javascript in less than month.
               <br>
               <strong>You can already find some of my mobile applications in <a href="/portfolio/">my portfolio</a>.</strong>
            </li> -->
      </ul>
      <div class="skills-overview">
        <div class="languages">
          <h3>Languages</h3>
          <p>CSS3, HTML5, Javascript/ES5/ES6</p>
        </div>
        <div class="frameworks">
          <h3>Frameworks</h3>
          <p>Angular, React/Next, Vue/Nuxt</p>
        </div>
        <div class="tech-and-tools">
          <h3>Web Technologies and Tools</h3>
          <p>
            Babel, Contentful, Git/Github, Mocha/Chai, Typescript, Webpack
          </p>
        </div>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h2><i class="fas fa-database"> </i>Backend</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        corrupti, maxime doloremque similique, exercitationem tempora molestiae
        nesciunt incidunt repellat fuga corporis quis voluptates, distinctio
        omnis quam perferendis voluptatum aliquam ipsam.
      </p>
    </header>
    <div class="item-contain">
      <p>My current experience and skills in front-end include:</p>
      <ul>
        <li>
          lead TypeScript/JavaScript development: bootstraping or refactoring an
          existing app architecture, by improving its' extensibility and
          reliability;
        </li>
        <li>
          full integration of front-end development using tools like
          <a href="https://webpack.js.org/" rel="nofollow">Webpack</a> with
          features like automatic code reload, code minifications, multiple
          environments support,
        </li>
        <li>
          good sense of design and UX, by having some small past experience in
          graphic design
        </li>
        <li>
          knowledge and huge experience in many JS ecosystem, by using many
          libraries like React, Redux, Redux-Observable, RxJS, Angular, Ionic
          Framework, Backbone, jQuery, Lodash/Underscore and whatever else was
          needed.
        </li>
        <!-- <li>
                ... and even <strong>mobile app  development</strong> with the use of <a href="http://ionicframework.com/" rel="nofollow">Ionic Framework</a>.
                <br>
                 With these, I can build a fully working native application for iOS and Android (both at once!) in Javascript in less than month.
                 <br>
                 <strong>You can already find some of my mobile applications in <a href="/portfolio/">my portfolio</a>.</strong>
              </li> -->
      </ul>
      <div class="skills-overview">
        <div class="languages">
          <h3>Languages:</h3>
          <p>Javascript/Node, SQL</p>
        </div>
        <div class="frameworks">
          <h3>Frameworks:</h3>
          <p>Express</p>
        </div>
        <div class="tech-and-tools">
          <h3>Web Technologies and Tools:</h3>
          <p>
            Sequelize, CORS, Digital Ocean, SQL Server, Docker, JWT, Stripe
          </p>
        </div>
      </div>
    </div>
  </article>

  <!-- <article>
    <header><h2>Other</h2></header>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique soluta
      explicabo quasi perferendis, laborum labore amet molestias officiis quidem
      molestiae, repellat voluptate fuga necessitatibus minima animi ratione
      inventore aperiam. Ad.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
      laudantium sint. Reiciendis praesentium soluta iusto aspernatur, aperiam
      commodi incidunt eum consectetur tempora odio, porro eius fuga est itaque
      dolores unde?
    </p>
  </article> -->
</section>
