<section id="skills" class="app-section">
  <header><h1 class="heading">skills</h1></header>

  <article>
    <header>
      <h2><i class="far fa-image"></i>Front End</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      corrupti, maxime doloremque similique, exercitationem tempora molestiae
      nesciunt incidunt repellat fuga corporis quis voluptates, distinctio omnis
      quam perferendis voluptatum aliquam ipsam.
    </p>
    <div class="item-contain">
      <div class="languages">
        <h3>Languages:</h3>
        <p>CSS3, HTML5, Javascript/ES5/ES6</p>
      </div>
      <div class="frameworks">
        <h3>Frameworks:</h3>
        <p>Angular, React/Next, Vue/Nuxt</p>
      </div>
      <div class="tech-and-tools">
        <h3>Web Technologies and Tools:</h3>
        <p>
          Babel, Contentful, Git/Github, Mocha/Chai, Typescript, Webpack
        </p>
      </div>
    </div>
  </article>
  <article>
    <header>
      <h2><i class="fas fa-database"></i>Backend</h2>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
      corrupti, maxime doloremque similique, exercitationem tempora molestiae
      nesciunt incidunt repellat fuga corporis quis voluptates, distinctio omnis
      quam perferendis voluptatum aliquam ipsam.
    </p>
    <div class="item-contain">
      <div class="languages">
        <h3>Languages:</h3>
        <p>Javascript/Node, SQL</p>
      </div>
      <div class="frameworks">
        <h3>Frameworks:</h3>
        <p>Express</p>
      </div>
      <div class="tech-and-tools">
        <h3>Web Technologies and Tools:</h3>
        <p>
          Sequelize, CORS, Digital Ocean, SQL Server, Docker, JWT, Stripe
        </p>
      </div>
    </div>
  </article>

  <!-- <article>
    <header><h2>Other</h2></header>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique soluta
      explicabo quasi perferendis, laborum labore amet molestias officiis quidem
      molestiae, repellat voluptate fuga necessitatibus minima animi ratione
      inventore aperiam. Ad.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
      laudantium sint. Reiciendis praesentium soluta iusto aspernatur, aperiam
      commodi incidunt eum consectetur tempora odio, porro eius fuga est itaque
      dolores unde?
    </p>
  </article> -->
</section>
