:root {
  /* font family */
  --heading: "Anton", sans-serif;
  --body: "Roboto", sans-serif;

  /* colors */
  --navy: #2e3c40;
  --midBlue: #3b7a8c;
  --lightBlue: #9ccbd9;
  --pink: #9ccbd9;
  --violet: #3f3250;
  --charcoal: #30343b;
  --grey-beige: #cob3a0;
  --midGrey: #a8acb7;
  --lightGrey: #e8e8f2;
  --white: #ffffff;

  /* nav links */
  --navLinkColor: #e14658;

  /* headings */
  --h1MainColor: #22252c;
  --h1Alt1Color: #a8acb7;

  --h1FontSize: 5em;

  /* subheadings */
  --h2Navy: #22252c;
  --h2Pink: #e14658;

  /* paragraph */
  --pLightGrey: #e8e8f2;
}

body {
  margin: 0;
  font-family: var(--body);
  font-size: 10px;
  color: var(--navy);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  margin: 0;
}

h1 {
  font-size: 6.5em;
  color: var(--navy);
  font-weight: 800;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 4em;
  color: var(--midBlue);
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 0;
}

h2 i {
  font-size: 1.2em;
  margin-right: 10px;
}

h3 {
  font-size: 2.2em;
  color: var(--lightBlue);
  letter-spacing: 1.2px;
  font-weight: 200;
}

h4 {
  font-size: 2em;
  color: var(--midBlue);
  font-weight: 400;
}

p {
  font-size: 1.8em;
}

span {
  font-size: 2em;
}

i {
  font-size: 2em;
}

label {
  font-size: 1.8em;
}

li {
  font-size: 1.6em;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

a {
  /* font-size: 1.6em; */
  color: var(--midGrey);
}

a:hover {
  text-decoration: none;
}

article {
  padding: 25px;
}

.item-contain {
  padding: 5px 0;
  border-bottom: 1px solid var(--lightGrey);
}

.item-contain:last-child {
  border: none;
}

/* .heading {
  display: none;
} */

.app-section {
  width: 80%;
  margin: 0 5%;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 100px;
  overflow-y: scroll;
}

/* .app-section h1 {
  position: fixed;
  top: 10px;
  left: 12%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 4.5em;
  letter-spacing: 0px;
  border-left: 1px solid var(--midBlue);
} */

/* .app-section h1:before,
.app-section h1:after {
  content: "";
  position: absolute;
  right: 0;
  border: 1px solid var(--navy);
  height: 5px;
  width: 100%;
} */

/* .app-section h1:before {
  top: 0;
}
.app-section h1:after {
  bottom: 0;
} */

@media (max-width: 1024px) {
  .app-section {
    width: 80%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5.5em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

@media (max-width: 414px) {
  h1 {
    font-size: 4.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.2em;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    text-align: center;
  }

  .app-section h1:before,
  .app-section h1:after {
    width: 80%;
    right: 9px;
  }
  .item-contain {
    padding: 15px 0;
    text-align: center;
  }
}
