<section id="home">
  <div class="home-heading-wrapper">
    <h1>Evan Miller</h1>
    <h2 class="home-subheading">Full Stack Developer</h2>
    <div class="overview">
      <p><b>Frontend:</b> React, Vue, Angular</p>
      <p><b>Backend:</b> Node/Express, SQL</p>
      <p><b>Deployment:</b> cloud based with CI/CD as well as traditional</p>
      <p>
        <b>Other:</b> Ecommerce, ExpressionEngine, Wordpress, Contentful, SSRS
      </p>
    </div>
  </div>
  <div class="home-hero-wrapper">
    <img
      class="home-headshot"
      src="../../assets/home/hero-trans.png"
      alt="Head shot of Evan Miller"
    />
  </div>
</section>
